* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}
body, html { 
  background-image: url("images/background/game.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}
nav {
  background-color: #000;
  height: auto;
  width: 100%;
  top: 0px;
  position: fixed;
}
.container {
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 1px solid #ffffff;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
   width: 60%;
   padding: 20px;
  border-radius: 4px;
  text-align: center;
}
.get-in {
  font-size: 70px;
}
table {
  width: 100%;
}
td {
  font-weight: bold;
}
.fa:hover {
  opacity: 0.7;
}

.fa {
  padding: 20px;
  font-size: 40px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa-phone {
  background: #fff;
  color: blue;
}
.fa-whatsapp {
  background: #fff;
  color: green;
}
.fa-telegram {
  background-color: #fff;
  color: #0000ff;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
.link {
  text-decoration: none;
  color: #fff;
}
.link:hover {
  text-decoration: underline;
}

.footer {
  padding: 3px;
  background-color: #000000;
  color: white;
  height: 30px;
  position: fixed;/*placing footer fixed at bottom*/
  bottom: 0px;    /*placing footer fixed at bottom*/
  margin-top: 5px;
  width: auto;
  font-weight: bold;
  border-radius: 15px;
}
.footer span {
  font-size: 10px;
}